:root{
    --form-bg-color : rgb(188, 235, 60);
    --input-box-color: rgb(252, 249, 249);
    --input-text-color: lightgray;
    --icon-color: darkgray;
}

/* Base */
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins","Poly", serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
}

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width: 400px;
    background-color:var(--form-bg-color);
    border-radius: 10px;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: cursive;
    background-color:var(--input-box-color);
    }

.input::placeholder{
    color: var(--input-text-color);
}

.list{
    padding: 0;
    margin: 0;
}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family: cursive;
    border-top: dotted;
    border-color: var(--icon-color);
    position: relative;
}

.list li .fa-trash{
    color: var(--icon-color);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

.list li.checked .fa-check-square{
    color: darkgray;
}